[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-pymongo = "*"
flask-cors = "*"
python-dotenv = "*"
flask-socketio = "*"
devpi = "*"
flask-mysql = "*"
cryptography = "*"
gunicorn = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
